streamlit>=1.34
pandas
numpy
openpyxl               # still needed for other Excel files, if any
scikit-learn           # ML model
gspread                # Google Sheets API
oauth2client           # For Google credentials
matplotlib
seaborn
